* {
  margin: 0;
}

.bg {
  background-image: url(../img/backgroundpage1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: grey;
}

/* Début du HEADER*/

header {
  display: flex;
  width: 98vw;
  height: 12.5vw;
}

/* Header haut gauche*/

.accueil {
  display: flex;
  width: 12.5vw;
  height: 12.5vw;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 5vw;
  height: 7vw;
}

/* Header haut milieu*/

.title {
  display: flex;
  width: 75vw;
  height: 12.5vw;
  align-items: center;
  justify-content: center;
}

.titre {
  display: flex;
  align-items: 31.25vw;
  width: 30vw;
}

/* Header haut droite*/

.onglet {
  display: flex;
  min-width: 12.5vw;
  height: 12.5vw;
  align-items: center;
  justify-content: center;
}

.catégorie {
  display: flex;
  width: 3.5vw;
  height: 3.5vw;
  align-items: center;
  justify-content: center;
}

/* FIN DU HEADER */

/* Début du MAIN */

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1px;
  height: 45vw;
}

/* Style des sections de maison */
.hufflepuff,
.gryffindor,
.ravenclaw,
.slytherin {
  display: block;
  width: 336px;
  height: 416.8px;
  margin: 1vw;
}

.hufflepuff img,
.gryffindor img,
.ravenclaw img,
.slytherin img {
  width: 50%;
  height: 50%;
  cursor: pointer;
}

/* Style de la fenêtre modale */
main .modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  padding: 20px;
  z-index: 1000;
  max-width: 80%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Affichage de la fenêtre ciblée */
main .modal:target {
  display: block;
}

/* Bouton fermeture */
main .modal .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/* Fin du Main */

/* Partie trait séparation */

.trait {
  width: 98vw;
  margin-bottom: -6.5vw;
}

/* Début du Footer */

footer {
  display: flex;
  max-width: 100vw;
  height: 12vw;
  background-color: #494949;
  justify-content: flex-end;
}

/* Partie Partenaire */

.sectionpartenaire {
  width: 50vw;
  height: 12vw;
}

/* Titre section Partenaire */

.titrepartenaire {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/* Diaporama Partenaire */

.sectiondiapo {
  display: flex;
  width: 50vw;
  justify-content: center;
}

.diaporama {
  width: 288px;
  height: 216px;
  box-shadow: 0px 15px 10px -5px #777;
  background-color: #ededed;
  background-size: auto;
  animation: fondu 15s ease-in-out infinite both;
}

.diaporama:hover {
  animation-play-state: paused;
}

@keyframes fondu {
  0% {
    background-image: url(../img/logokajal.PNG);
  }
  16.665% {
    background-image: url(../img/LogoFerhat.PNG);
  }
  49.995% {
    background-image: url(../img/logoSofiane.PNG);
  }
  83.325% {
    background-image: url(../img/logojulie.PNG);
  }
  100% {
    background-image: url(../img/logokajal2.PNG);
  }
}

/* Partie Contact */

.sectioncontact {
  width: 48vw;
  height: 12vw;
}

/* Titre section Contat */

.titrecontact {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.imagecontact {
  display: flex;
  margin-left: 16vw;
}

@media only screen and (max-width: 480px) {
  .header,
  .main,
  .footer {
    width: 480px;
  }

  .header,
  .accueil,
  .title,
  .onglet {
    width: 100%;
    height: auto;
  }

  .titrepartenaire,
  .titrecontact {
    font-size: 10px;
  }

  .diaporama {
    width: 38.4px;
    height: 28.8px;
    background-size: cover;
  }

  .imagecontact {
    width: 100px;
    height: auto;
    margin-top: -2vw;
    margin-left: 13vw;
  }

  .hufflepuff,
  .gryffindor,
  .ravenclaw,
  .slytherin {
    display: block;
    width: 84px;
    height: 104.2px;
  }

  main .modal {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
    z-index: 1000;
    max-width: 80%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
